# Database Configuration
DB_CONNECTION=mysql
# Use 'db' for docker-compose, or 'localhost' for local development
DB_HOST=CHANGE_ME
DB_PORT=CHANGE_ME
DB_DATABASE=CHANGE_ME
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME

# Users
USER_ADMIN_NAME=CHANGE_ME
USER_ADMIN_EMAIL=CHANGE_ME
USER_ADMIN_USERNAME=CHANGE_ME
USER_ADMIN_PASSWORD=CHANGE_ME

USER_TEACHER_NAME=CHANGE_ME
USER_TEACHER_EMAIL=CHANGE_ME
USER_TEACHER_USERNAME=CHANGE_ME
USER_TEACHER_PASSWORD=CHANGE_ME

USER_STUDENT_NAME=CHANGE_ME
USER_STUDENT_USERNAME=CHANGE_ME
USER_STUDENT_PASSWORD=CHANGE_ME
