# Server Configuration
SERVER_HOST=
SERVER_PORT=

# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_TZ=

# PASETO Configuration
PASETO_SECRET_KEY=
PASETO_TOKEN_TTL_MIN=

# Seeder Configuration
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=