# Server
APP_ENV=
APP_PORT=
APP_HOST=
FRONTEND_URL=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_TIMEZONE=

# Security
# Ganti ini dengan kunci rahasia 32-byte (base64 encoded)
# Anda bisa generate dengan: openssl rand -base64 32
PASETO_SYMMETRIC_KEY=
ACCESS_TOKEN_TTL_MIN=
REFRESH_TOKEN_TTL_MIN=
BLACKLIST_TTL_HOUR=

# CORS
CORS_ALLOWED_ORIGINS="http://localhost:5000,http://localhost:5173,http://127.0.0.1:5000"

# Email (Google SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER_EMAIL=

# Email (Mailhog) Development Only
# SMTP_HOST=mailhog
# SMTP_PORT=1025
# SMTP_USER=
# SMTP_PASSWORD=
# SMTP_SENDER_EMAIL=

# Seeder
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Bloom Filter
BLOOM_FILTER_PATH=
BLOOM_REGENERATION_INTERVAL_IN_HOURS=

# STORAGE
STORAGE_PATH=./public
STORAGE_UPLOAD_DIR=cdn
STORAGE_PUBLIC_URL=/
STORAGE_PUBLIC_BASE_URL=http://localhost:8000